body, html {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

.color-box {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 1vh;
    background-color: rgb(7, 230, 52);
    border: rgb(190, 24, 24);
    border-radius: .2rem;
}